table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

td, th {
    text-align: left;
    padding: 12px;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr.header, tr:hover {
    background-color: #f1f1f1;
}

.table_search {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.menu_ul .menu_li.new {
    background-color: yellow;
}

.menu_ul .menu_li.active {
    background-color: green;
}

.menu_ul .menu_li.blocked {
    background-color: red;
}